<style type="text/css">
<!--
.tooltiptitle{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 8pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 8pt}

#GMLToolTip { position:absolute; width: 30%; top: 0px; left: 0px; z-index:4; visibility:hidden; }
-->
</style>